<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout3}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>Insert title here</title>

<link rel="stylesheet" href="/css/product/customerpackaging2.css" />
<script src="/js/product/dragAndDrop.js"></script>

</head>
<body>


<div layout:fragment="content1">
	<!-- Hero Area Start-->
	<div class="slider-area" th:fragment="heroArea1">
		<div class="single-slider slider-height2 d-flex align-items-center">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="hero-cap text-center">
							<h2>커스텀 패키지!</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="custom_content">
	<div id="move_btn">
		<button class="move_btn" onclick="fnMove('add_package_h1')">패키지 추가</button>
	    <button class="move_btn" onclick="fnMove('add_product_h1')">제품 추가</button>
	    <!-- <button class="move_btn" onclick="fnMove('')">패키지 업데이트</button> -->
	</div>
		<h1 class="add_package_h1">패키지 추가</h1>
		<div class="category_row">
			<div class="col-xs-12" style="padding: 0px">
				<div class="product_category">
					<div class="category" th:each="categorylist:${categorylist}">
						<button class="category_name"
							th:text="${categorylist.categoryName}" name="category"
							th:value="${categorylist.categoryId}"></button>
					</div>
				</div>
			</div>
		</div>
		<div id='search_form'>
			<!-- <select id="search_type" name="search_type">
		    <option value="product">과자명</option>
		    <option value="company">제조사명</option>
			</select> -->
			<div class='search_box'>
			
				<!-- hidden 권한 -->
				<input type="hidden" id="auth" th:value="${#authentication.principal.member.auth}">
				<input type="hidden" id="auth_url" th:value="${admin_check}">
				
				<span style="margin-right:46px">상품검색</span>
				<input type='text' id="search_keyword" placeholder="상품명을 입력해주세요.">
				<button id="search_product">검색</button>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-7" style="padding: 0px">
				<div class="area1" id="area1">
					<div class="product" th:each="productlist:${productlist}">
						<img class="product_img" style="width: 125px; height: 127px;" th:src="@{/images/product_images/}+${productlist.productName}+.jpg">
						<button onclick="adminProductDelete(this)" class="product_delete_btn">X</button>
						<div class="product_name" th:text="${productlist.productName}"></div>
						<div class="product_price" th:text="${productlist.price}"></div>
						<span style="float: left; padding-top: 8px">원</span>
						<div class="product_id" th:text="${productlist.productId}"
							style="display: none"></div>
					</div>
				</div>
			</div>
			<div id='basketlist' class="col-lg-5">
				<form name="orderform" id="orderform" method="post" class="orderform"
					action="/payment" enctype="multipart/form-data">
					<div class="basketdiv" id="basket">
						<div class="row head">
							<div class="subdiv">
								<div class="check">선택</div>
								<div id="head_img" class="img">이미지</div>
								<div class="pname">상품명</div>
							</div>
							<div class="subdiv">
								<div id='head_basketprice' class="basketprice">가격</div>
								<div class="num">수량</div>
								<div id="head_sum" class="sum">합계</div>
							</div>
							<div class="subdiv">
								<div id="basketcmd" class="basketcmd">삭제</div>
							</div>
							<div class="split"></div>
						</div>
						<h1 class="basketdiv_text">
							상품을 드래그해서<br>담아주세요!
						</h1>
						<div id='basketdiv_list' class='basketdiv_list'></div>
					</div>
					<div class="right-align basketrowcmd">
						<a href="javascript:void(0)" class="abutton"
							onclick="javascript:basket.delCheckedItem();">선택상품삭제</a> <a
							href="javascript:void(0)" class="abutton"
							onclick="javascript:basket.delAllItem();">장바구니비우기</a>
					</div>

					<div class="bigtext right-align sumcount" id="sum_p_num">상품개수:
						0개</div>
					<div class="bigtext right-align box blue summoney" id="sum_p_price">합계금액:
						0원</div>
					<div class="bigtext right-align box red summoney" id="sale_p_price"></div>

					<input type="hidden" id="package_price" name="packagePrice"	value="">
					<input type="hidden" id="package_name" name="packageName" th:value="${#authentication.principal.member.customerName}+Package">
					<input type="hidden" id="package_type" name="packageType" value="1">
					<div id="goorder" class="">
						<div class="clear"></div>
						<div id='order_btn' class="buttongroup center-align cmd">
							<a href="javascript:void(0);" id="package_buy_btn">선택한 상품 주문</a>
							<ul class="package_price_name_list">
								<li>
									패키지 가격 : <input type="text" id="make_package_price" name="packagePrice"	placeholder=" 패키지 가격을 입력해주세요.">
								</li>
								<li>
									패키지 이름 : <input type="text" id="make_package_name" name="packageName" placeholder=" 패키지 이름을 입력해주세요.">
								</li>
								<li>
									패키지 이미지 : <input id="make_package_img" type="file" name="files">
								</li>
								<li>
									<a href="javascript:void(0);" id="package_make">패키지 생성</a>
								</li>
							</ul>
						</div>
					</div>
				</form>
			</div>
			<div id="custom_poster" class="col-lg-offset-2 col-lg-8">
				<img class="custom_poster_img"
					src="/images/product/custom_poster.png">
			</div>
			
			<!-- 관리자 제품 추가 기능 -->
			<div id="add_product" class="col-lg-offset-2 col-lg-8">
				<h1 class="add_product_h1">제품 생성</h1>
				<button id="add_list">+ 목록추가</button>
				<form id="add_product_form" method="post" action="/product/adminProductInsert" 
					enctype="multipart/form-data">
					<div>
						<div id="add_product_div_head">
							<div>제품명</div>
							<div>카테고리</div>
							<div>회사</div>
							<div>가격</div>
							<div>이미지 파일첨부</div>
							<div></div>
						</div>
						<div id="add_product_div_body">
							<div id="add_product_div_row">
								<input class="add_productName" name="productName" type="text" placeholder="ex) 새우깡">
								<select name="categoryId">
									<option th:each="category:${categorylist}" th:text="${category.categoryName}" th:value="${category.categoryId}"></option>
								</select>
								<select name="companyId">
									<option th:each="company:${companylist}" th:text="${company.company_name}" th:value="${company.company_id}"></option>
								</select>
								<input class="add_productPrice" name="productPrice" id="product_price_add" type="text" placeholder="ex) 1000">
								<input id="product_image_add" type="file" name="files">
								<div></div>
							</div>
						</div>
					</div>
				</form>
				<div id='order_btn' class="buttongroup center-align cmd">
					<a href="#" id="product_add">제품 넣기</a>
				</div>
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-xs-12"></div>
		</div> -->
		
		<!-- 관리자 기능중 제품 목록 추가 시 필요한 html 코드 --> 
		<div id="add_product_div_body" class="add_product_div_body">
			<div id="add_product_div_row">
				<input name="productName" type="text">
				<select name="categoryId">
					<option th:each="category:${categorylist}" th:text="${category.categoryName}" th:value="${category.categoryId}"></option>
				</select>
				<select name="companyId">
					<option th:each="company:${companylist}" th:text="${company.company_name}" th:value="${company.company_id}"></option>
				</select>
				<input name="productPrice" id="product_price_add" type="text">
				<input id="product_image_add" type="file" name="files">
				<button onclick="productRowDelete(this)" id="add_product_row_del">삭제</button>
			</div>
		</div>
	</div>
</div>
</body>
</html>