<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/layout2}">

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&amp;display=swap" rel="stylesheet">

<head>
<meta charset="UTF-8">
<title>스낵24 - 과자갤러리</title>


</head>
<body onload="showImage()">
<div layout:fragment="content1">
	<!-- Hero Area Start-->
	<div class="slider-area" th:fragment="heroArea1">
		<div class="single-slider slider-height2 d-flex align-items-center" style="min-height: 200px;">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="hero-cap text-center">
							<h2>과자 갤러리</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<p>출출할 땐.....??</p>
	<img id="introImg" border="0" style="width: 200px; height: 200px">
	<div id="1bo_head">
		<select id="searchType" name="sf1">
			<option>전체</option>
			<option value="btitle" th:selected="${pagevo.type=='btitle'}">제목</option>
			<option value="bcontent" th:selected="${pagevo.type=='bcontent'}">내용</option>
			<option value="email" th:selected="${pagevo.type=='user.email'}">작성자</option>
		</select> 
		<input type="text" id="sch_stx">
		<button id="sch_submit" class="sir_inp" style="border:none">
			<i class="fa fa-search">
			 </i>
			<span class="sound_only">검색</span>
		</button>
	</div>

	<div id="head_bwrp">
           <a class="sir_b01_high" th:href="@{/board/register}" style="right: 10px; font-size: medium; font-weight: bold;" >글쓰기</a>
    </div>
	
	<br><br><br>
	
	<div class="sir_ulwrp sir_ul01">

	<table class="table" style="font-size: 2rem">
		<tr class="lbo_li lbo_legend lbo_legend_like">
			<th>번호</th>
			<th>제목</th>
			<th>작성자</th>
			<th>작성일</th>
		</tr>
		
		<tr th:each="board:${boardResult.content}" class="lbo_li li_bg0 lbo_like" style="z-index:30;">
		
			<td><a th:href="@{/board/boarddetail(bid=${board.bid})}" th:text="${board.bid}"></a></td>
			<td id="boardtitle"><a th:href="@{/board/boarddetail(bid=${board.bid})}" th:text="${board.btitle}"></a> 
				
				
				<span class="cnt_cmt" style="color: #7e00ff">[[${board.replies.size()}]]</span></td>
			<td>
				<!-- 문자열의 한계치를 설정하고, length가 한계치 이상이라면 잘라낸후 …으로 표시해준다. -->
				<div class="email"
					th:text="${#strings.abbreviate(board.customer.email,7)}"></div>
			</td>
			<td>
				<div th:text="${board.bupdatedate}"></div>
			</td>
		</tr>
	</table>
	
	</div>


	<!-- 페이징 처리 -->
	<form id="f1" th:action="@{/board/boardlist}" method="get">
		<input type="hidden" name="page" th:value=${result.currentPageNum}>
		<input type="hidden" name="size" th:value=${result.currentPage.pageSize}> 
		<input type="hidden" name="type" th:value=${pagevo.type}> 
		<input type="hidden" name="keyword" th:value=${pagevo.keyword}>
	</form>
	<div class="sir_pg_wrp">
	<nav class="pg_wrap">
		<ul class="pg">
			<li class="page-item" th:if="${result.prevPage}"><a
				th:href="${result.prevPage.pageNumber}+1">PREV</a></li>
				
			<li class="page-item" th:each="pg:${result.pageList}">
			<a class="pg_current" th:href="${pg.pageNumber}+1" th:classappend="${pg.pageNumber==result.currentPageNum-1}?active:''" style="color: white;">
					[[${pg.pageNumber}+1]]</a></li>
						
			<li class="page-item" th:if="${result.nextPage}"><a
				th:href="${result.nextPage.pageNumber}+1">NEXT</a></li>
		</ul>
	</nav>
	</div>
</div>
	
</body>

</html>